

.g-dialog-add-category,.g-dialog-add-tag{
  .input-style{
    font-size:12px;
    display: flex;
    line-height: 30px;
    margin-top: 10px;
    display: -webkit-box;
    input{
      display: block;
      box-sizing: border-box;
      width: 234px;
      height: 30px;
      border: 1px solid #c0c8cf;
      -webkit-box-flex:1;
    }
    select{
      -webkit-box-flex:1;
      display: block;
    }
    .before{
      width: 20%;
      display: block;
      text-align: right;
      margin-right: 14px;
    }
    .after{
      display: block;
      color: #999;
      width: 30%;
      margin-left: 10px;
      text-align: left;
    }
  }

}