@import "../tools/mix";

@font-face {
  font-family: 'iconfont';  /* project id 219681 */
  src: url('//at.alicdn.com/t/font_yxm3vcxvpe2sxlxr.eot');
  src: url('//at.alicdn.com/t/font_yxm3vcxvpe2sxlxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_yxm3vcxvpe2sxlxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_yxm3vcxvpe2sxlxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_yxm3vcxvpe2sxlxr.svg#iconfont') format('svg');
}

.iconss {
  -webkit-box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  position: relative;
  top: 1px;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//后台导航栏_店铺
.iconss-dianpu:before { content: "\e624"; }
//后台导航栏_财务
.iconss-caiwu:before { content: "\e623"; }
//后台导航栏_客户
.iconss-kehu:before { content: "\e622"; }
//后台导航栏_订单
.iconss-dingdan:before { content: "\e621"; }
//后台导航栏_商品
.iconss-shangpin:before { content: "\e620"; }
//后台导航栏_门店
.iconss-mendian:before { content: "\e61f"; }
//后台导航栏_设置
.iconss-shezhi:before { content: "\e61e"; }
//后台导航栏_数据
.iconss-shuju:before { content: "\e61d"; }
//后台导航栏_首页
.iconss-shouye:before { content: "\e61c"; }
//后台_公开课
.iconss-gongkaike:before { content: "\e627"; }
//后台_论坛
.iconss-luntan:before { content: "\e626"; }
//后台_预约在线培训
.iconss-yuy:before { content: "\e625"; }
//后台_更多
.iconss-gengduo:before { content: "\e62a"; }
//后台_趋势上升
.iconss-shang:before { content: "\e629"; }
//后台_趋势下降
.iconss-xia:before { content: "\e628"; }
//后台_常用功能_店铺装修
.iconss-zhuangxiu:before { content: "\e632"; }
//后台_评论详情_星级
.iconss-star:before { content: "\e635"; }
//后台_常用功能_金额提现
.iconss-tixian:before { content: "\e631"; }
//后台_常用功能_订单处理
.iconss-chuli:before { content: "\e630"; }
//后台_常用功能_商品发布
.iconss-fabu:before { content: "\e62f"; }
//后台_常用功能_BUY++
.iconss-buy:before { content: "\e62e"; }
//后台_常用功能_推广员
.iconss-tuiguangyuan:before { content: "\e62d"; }
//后台_常用功能_微信
.iconss-weixin:before { content: "\e62c"; }
//后台_常用功能_统计分析
.iconss-fenxi:before { content: "\e62b"; }
//后台_疑问
.iconss-yiwen:before { content: "\e633"; }
//微商城LOGO
.iconss-logo:before { content: "\e616"; }
//更多右箭头
.iconss-more:before { content: "\e613"; }
//云起微商城_文字
.iconss-yunqiweishangcheng_wenzi:before { content: "\e634"; }
//弹出层关闭叉叉
.iconss-close:before { content: "\e60f"; }
.iconss-close2:before { content: "\e618"; }
//订单备注标记
.iconss-flag:before { content: "\e603"; }
//搜索
.iconss-search:before { content: "\e637"; }
//勾
.iconss-gou:before { content: "\e638"; }
//箭头上
.iconss-jiantoushang:before { content: "\e639"; }
//箭头下
.iconss-jiantouxia:before { content: "\e636"; }
//店铺预览二维码
.iconss-qrcode:before { content: "\e63f"; }

//短信
.iconss-duanxin:before { content: "\e648"; }

//多渠道推广
.iconss-duoqudaotuiguang:before { content: "\e647"; }

//积分商城
.iconss-jifenshangcheng:before { content: "\e646"; }

//旺pos
.iconss-wangpos:before { content: "\e645"; }

//拼团
.iconss-pintuan:before { content: "\e644"; }

//满减满送
.iconss-manjianmansong:before { content: "\e643"; }

//推广跟踪
.iconss-tuiguanggenzong:before { content: "\e642"; }

//限时秒杀
.iconss-xianshimiaosha:before { content: "\e641"; }

//推广员
.iconss-tuiguangyuan:before { content: "\e640"; }

//我要送礼
.iconss-woyaosongli:before { content: "\e63e"; }

//微信推广
.iconss-weixintuiguang:before { content: "\e63d"; }

//优惠券
.iconss-youhuiquan:before { content: "\e63c"; }

//小程序
.iconss-xiaochengxu:before { content: "\e63b"; }

//支付有礼
.iconss-zhifuyouli:before { content: "\e63a"; }

//刮刮卡
.iconss-guaguaqia:before { content: "\e649"; }

//加号
.iconss-plus:before { content: "\e64a"; }