@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1h8vzl');
  src:  url('fonts/icomoon.eot?1h8vzl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1h8vzl') format('truetype'),
    url('fonts/icomoon.woff?1h8vzl') format('woff'),
    url('fonts/icomoon.svg?1h8vzl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-three:before {
  content: "\e900";
}
.icon-list-closet:before {
  content: "\e901";
}
.icon-list-block:before {
  content: "\e902";
}
.icon-footer-mine:before {
  content: "\e903";
}
.icon-income:before {
  content: "\e908";
}
.icon-withdrawCash:before {
  content: "\e909";
}
.icon-refund:before {
  content: "\e90a";
}
.icon-group:before {
  content: "\e90b";
}
.icon-heart-empty:before {
  content: "\e90c";
}
.icon-share-line:before {
  content: "\e90d";
}
.icon-vote:before {
  content: "\e90e";
}
.icon-vote-line:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e910";
}
.icon-heart-broken:before {
  content: "\e911";
}
.icon-remark:before {
  content: "\e912";
}
.icon-customerEval:before {
  content: "\e913";
}
.icon-checkIcon:before {
  content: "\e914";
}
.icon-scoreStar:before {
  content: "\e915";
}
.icon-add:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e917";
}
.icon-address:before {
  content: "\e918";
}
.icon-back:before {
  content: "\e919";
}
.icon-book:before {
  content: "\e91a";
}
.icon-box:before {
  content: "\e91b";
}
.icon-card:before {
  content: "\e91c";
}
.icon-case:before {
  content: "\e91d";
}
.icon-clock:before {
  content: "\e91e";
}
.icon-code:before {
  content: "\e91f";
}
.icon-coupon:before {
  content: "\e920";
}
.icon-cross:before {
  content: "\e921";
}
.icon-delete:before {
  content: "\e922";
}
.icon-done:before {
  content: "\e923";
}
.icon-down:before {
  content: "\e924";
}
.icon-exit:before {
  content: "\e925";
}
.icon-eyeclose:before {
  content: "\e926";
}
.icon-eyeon:before {
  content: "\e927";
}
.icon-home:before {
  content: "\e928";
}
.icon-lamp:before {
  content: "\e929";
}
.icon-line:before {
  content: "\e92a";
}
.icon-link:before {
  content: "\e92b";
}
.icon-list:before {
  content: "\e92c";
}
.icon-list-not:before {
  content: "\e92d";
}
.icon-local:before {
  content: "\e92e";
}
.icon-lock:before {
  content: "\e92f";
}
.icon-member:before {
  content: "\e930";
}
.icon-men:before {
  content: "\e931";
}
.icon-money:before {
  content: "\e932";
}
.icon-msg:before {
  content: "\e933";
}
.icon-ok:before {
  content: "\e934";
}
.icon-open:before {
  content: "\e935";
}
.icon-pen:before {
  content: "\e936";
}
.icon-phone:before {
  content: "\e937";
}
.icon-pop:before {
  content: "\e938";
}
.icon-right:before {
  content: "\e939";
}
.icon-safe:before {
  content: "\e93a";
}
.icon-plus:before {
  content: "\e93b";
}
.icon-plus2:before {
  content: "\e93c";
}
.icon-search:before {
  content: "\e93d";
}
.icon-set:before {
  content: "\e93e";
}
.icon-plus22:before {
  content: "\e93f";
}
.icon-star:before {
  content: "\e940";
}
.icon-store:before {
  content: "\e941";
}
.icon-totop:before {
  content: "\e942";
}
.icon-unpaid:before {
  content: "\e943";
}
.icon-up:before {
  content: "\e944";
}
.icon-vip:before {
  content: "\e945";
}
.icon-warm:before {
  content: "\e946";
}
.icon-time:before {
  content: "\e947";
}
.icon-boss:before {
  content: "\e948";
}
.icon-buyer:before {
  content: "\e949";
}
.icon-openshop:before {
  content: "\e94a";
}
.icon-openshop-pointing:before {
  content: "\e94b";
}
.icon-santiaogang:before {
  content: "\e94c";
}
.icon-footer-home:before {
  content: "\e94d";
}
.icon-footer-manage:before {
  content: "\e94e";
}

