@import "../tools/mix";
.c-component-chuchuang{
    em,span,small,b,i,strong,a{
        display:inline-block;
        color:inherit;
    }
    a{
        display:block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    img{
        max-height:none;
        max-width:none;
    }
    .chuchuang2,.chuchuang3,.chuchuang4,.chuchuang7{
        font-size:0;
        white-space:nowrap;
        div{
            vertical-align:top;
            display:inline-block;
        }
    }
    .chuchuang5{
        section{
            font-size:0;
            white-space:nowrap;
        }
        div{
            vertical-align:top;
            display:inline-block;
        }
    }
    .chuchuang6{
        font-size:0;
        white-space:nowrap;
        div{
            vertical-align:top;
            display:inline-block;
            section{
                &:nth-of-type(2){
                    font-size:0;
                    white-space:nowrap;
                    article{
                        vertical-align:top;
                        display:inline-block;
                    }
                }
            }
        }
    }
    .chuchuang8{
        div{
            &:nth-of-type(1){
                font-size:0;
                white-space:nowrap;
                section{
                    vertical-align:top;
                    display:inline-block;
                }
            }
        }
    }
    .chuchuang9{
        div{
            font-size:0;
            white-space:nowrap;
            section{
                vertical-align:top;
                display:inline-block;
            }
        }
    }
}