@import "../tools/mix";
.c-component-NavImg{
    em,span,small,b,i,strong,a{
        display:inline-block;
        color:inherit;
    }
    a{
        display:block;
    }
    img{
        max-width:100%;
        max-height:100%;
    }
    .NavImg{
        ul{
            height:px2rem(70);
            @include clear-fix();
            text-align:center;
            display:-webkit-box;
        }
        li{
            -webkit-box-flex:1;
            em{
                width:px2rem(50);
                height:px2rem(50);
                overflow:hidden;
                &:after{
                    content:'';
                    display:inline-block;
                    height:100%;
                    vertical-align:middle;
                }
                img{
                    width:px2rem(50);
                    height:px2rem(50);
                    overflow:hidden;
                    vertical-align:middle;
                }
            }
        }
        p{
            height:px2rem(20);
            line-height:px2rem(20);
        }
        &.NavImg2{
            li{
                em,img{
                    border-radius:50%;
                }
            }
        }
    }

}
