@import "../tools/variables";
@import "../tools/mix";

.c-component-upload-img {
  padding: 0 25px 20px;
  .upload-item-wrap {
    width: 100%;
    .placed-area {
      border: 1px dashed $c28;
      line-height: 150px;
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
      margin-right: 30px;
      border-radius:8px;
    }
  }
  &-item {
    border:1px solid #f0efeb;
    border-radius:8px;
    margin-bottom: 12px;
    margin-right: 30px;
    background: #fff;
    &.drag-ele {
      position: fixed;
      z-index: 6;
    }

    &.cursor > div {
      cursor: move;
      position: relative;
    }
    .move-style {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 30px;
      height: 152px;
      border: 1px solid $c28;
      border-radius: 5px 0 0 5px;
      background: $c27;
      display: none;
      &.active {
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
      }
    }
    .remove-style {
      position: absolute;
      right: -32px;
      top: 6px;
      width: 30px;
      height: 30px;
      border: 1px solid $c28;
      border-radius: 0 5px 5px 0;
      background: $c27;
      display: none;
      cursor: pointer;
      &.active {
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
      }
    }
    .editor-wrap {
      padding: 20px 0 20px 70px;
      display: -webkit-box;
      -webkit-box-align: center;
      .img-wrap {
        position: relative;
        background: $c31;
        border-radius:2px;
        width:180px;
        height:110px;
        margin-right: 30px;
        border: 1px dashed $c26;
        text-align: center;
        color: $c5;
        line-height: 21px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        cursor: pointer;
        &-active {
          border: 1px solid #f0efeb;
        }
        .add {
          width: 42px;
          height: 42px;
          display: block;
          margin: 0 auto 8px;
          padding-top: 20px;
        }
        .p1 {
          line-height: 16px;
        }
        .p2 {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -80px;
          margin-top: -17px;
          width: 160px;
          padding: 10px 0;
          line-height: 15px;
          background: rgba(249,249,249,0.7);
          border-radius:40px;
          z-index: 1;
          font-size:12px;
          color:#565656;
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          span {
            display: block;
            padding-left: 5px;
          }
        }
        img {
          display: block;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
        .t-error {
          width: 180px;
          height: 110px;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(231,92,69, .7);
          color: #fff;
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          cursor: default;
          .txt {
            padding: 0 13px 5px;
            line-height: 15px;
            text-align: left;
          }
          .txt2 {
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
          }
          span {
            cursor: pointer;
            display: block;
            background: rgba(249,249,249, .9);
            border-radius:40px;
            line-height: 24px;
            height: 24px;
            text-align: center;
            color: #E75C45;
            &:first-child {
              width: 65px;
              margin-right: 10px;
            }
            &:last-child {
              width: 16px;
              height: 16px;
              padding: 4px 10px;
              position: relative;
            }
            .btn-upload-img2 {
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              width: 36px;
              height: 24px;
              cursor: pointer;
              padding: 0;
              display: block;
            }
          }
        }
        .t-succ {
          background: rgba(36,186,171, .5);
          width:100%;
          height:22px;
          line-height: 22px;
          position: absolute;
          left: 0;
          bottom: 0;
          color: #fff;
        }
        &-tetragonal {
          width: 110px;
          .btn-upload-img {
            width: 100%;
          }
          .p2 {
            display: -webkit-box;
            width: 100px;
            margin-left: -50px;
            padding: 5px 0;
            margin-top: -20px;
            span {
              max-width: 60px;
            }
          }
        }
      }
      .btn-add-link-wrap {
        .btn-add-link {
          width: 180px;
          height: 33px;
          background: $c5;
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          i {
            display: block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
          }
          span {
            @include ellipsis();
          }
          &.active {
            border: 1px solid $c2;
            background: $c1;
            color: $c32;
            padding: 0 13px;
            box-sizing: border-box;
            text-align: left;
            span {
              -webkit-box-flex: 1;
              height: 21px;
              line-height: 21px;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              overflow: hidden;
              white-space: normal;
            }
            i {
              margin: 0 0 0 5px;
            }
          }
        }
        .tip {
          padding: 5px 0 0 0;
          color:#e75c45;
          text-align:center;
        }
      }
      .nav-img-info-wrap {
        .nav-img-info-item {
          display: -webkit-box;
          -webkit-box-align: center;
          padding-bottom: 10px;
          font-size: 12px;
          &:last-child {
            padding-bottom: 0;
          }
          .i-txt1 {
            width: 90px;
            span {
              color:#e75c45;
              padding-right: 5px;
            }
          }
          .t-content {
            display: -webkit-box;
            -webkit-box-align: center;
            position: relative;
          }
          input {
            display: block;
            background:#ffffff;
            border:1px solid #dddddd;
            border-radius:5px;
            padding: 5px 15px;
            width:115px;
            height:20px;
            line-height: 20px;
            &:focus {
              box-shadow: 0 0 0 rgba(0,0,0,0);
            }
          }
          .tip-txt-len { padding-left: 5px;}
          .t-error {
            position: absolute;
            left: 5px;
            top: -25px;
            width: 200px;
            line-height: 25px;
            color:#e75c45;
            span {
              font-size: 14px;
              padding-right: 5px;
            }
          }
        }


      }
      @media screen and (max-width: 1400px) {
        padding: 20px 0 20px 50px;
        .img-wrap {
          margin-right: 15px;
        }
        .btn-add-link-wrap {
          .btn-add-link {
            width: 130px;
          }
        }
      }
    }
    .pl-editor-wrap {
      padding: 20px 0 20px 70px;
      display: -webkit-box;
      -webkit-box-align: center;
      height: 80px;
      .pl-editor-item {
        display: -webkit-box;
        -webkit-box-align: center;
        &-active {
          display: none;
        }
        .pl-name {
          display: -webkit-box;
          -webkit-box-align: center;
          width: 90px;
          line-height: 38px;
          height: 38px;
          font-size: 0;
          span {
            display: block;
            font-size: 12px;
            height: 38px;
          }
          .s1 {
            color:#e75c45;
            padding-right: 5px;
            line-height: 20px;
            height: 20px;
            font-size: 16px;
            padding-top: 5px;
          }
        }
        .pl-content {
          -webkit-box-flex: 1;
          position: relative;
        }
        .pl-editor-item-name {
          display: -webkit-box;
          -webkit-box-align: center;
          color:#888888;
          .t-error {
            position: absolute;
            left: 5px;
            top: -25px;
            width: 200px;
            line-height: 25px;
            color:#e75c45;
            span {
              font-size: 14px;
              padding-right: 5px;
            }
          }
          input {
            background:#ffffff;
            border:1px solid #dddddd;
            border-radius:8px;
            width:188px;
            line-height: 20px;
            height: 20px;
            padding: 5px;
            font-size: 12px;
            &:focus {
              box-shadow: 0 0 0 rgba(0,0,0,0);
            }
          }
          .tip-txt-len {
            padding-left: 10px;
          }
        }
      }
    }
  }
  .upload-max {
    text-align: center;
    color:#bebebe;
    padding: 10px 0;
  }
}

.c-component-choose-time {
  font-size:14px;
  color:#576369;
  position: relative;
  z-index: 5;
  width:176px;

  .title {
    background:#ffffff;
    border-radius:5px;
    border:1px solid #e6e6e6;
    height:34px;
    display: -webkit-box;
    -webkit-box-align: center;
    overflow: hidden;
    cursor: pointer;
    p {
      -webkit-box-flex: 1;
      margin: 0 15px;
      @include ellipsis();
    }
    span {
      display: block;
      background:#f9f9f9;
      width:27px;
      height:34px;
      border-left: 1px solid #e6e6e6;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      i {
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #fd7933;
      }
    }
  }

  .option-wrap {
    position: absolute;
    left: 0;
    top: 36px;
    background:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:5px;
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    display: none;
    .option {
      cursor: pointer;
      color: #798389;
      padding: 0 30px;
      line-height: 25px;
      margin-bottom: 5px;
      &:hover, &.active {
        background:#f9f9f9;
        font-weight: bold;
      }
    }
  }

}

.c-component-item-text {

  display: -webkit-box;
  -webkit-box-align: center;

  &-name {
    display: -webkit-box;
    -webkit-box-align: center;
    width: 90px;
    line-height: 38px;
    height: 38px;
    font-size: 0;
    span {
      display: block;
      font-size: 12px;
      height: 38px;
    }
    .s1 {
      color:#e75c45;
      padding-right: 5px;
      line-height: 20px;
      height: 20px;
      font-size: 16px;
      padding-top: 5px;
    }
  }
  &-content {
    -webkit-box-flex: 1;
    position: relative;
  }
}
