@import "../tools/mix";
b,strong,i{
    font-style: normal;
    font-weight: normal;
}
.none{
    display: none;
}
.comments-list{
    border-bottom: 1px solid #ddd;
    &:last-of-type{
        border: none;
    }
    .comments-header{
        overflow: hidden;
        padding: p2m(30) 0;
        .stars{
            float: left;
            .icons-xingji{
                color: #fc152e;
                font-size: p2m(22);
            }
        }
        
        .name-time{
            float: right;
            color: #888;
            strong{
                margin-right: p2m(12);
            }
        }
    }
    .comments-content{
        .content-text{
            font-size:p2m(26);
            color: #333;
            margin: 0 0 p2m(24) 0;
        }
        .content-images{
            overflow-y : auto;  
            display: -webkit-box;
//          -webkit-box-align: center;
//          -webkit-overflow-scrolling:touch;
            margin: 0 0 p2m(24) 0;
            img{
                display: -webkit-box;
                width: p2m(150);
                height: p2m(150);
                border-radius: p2m(12);
                margin: 0 p2m(24) 0 0;
            }
            
        }
    }
    .comments-footer{
        color: #888;
        font-size: p2m(24);
        margin: 0 0 p2m(30) 0;
        line-height: p2m(36);
        .product-standard{
            span{
                margin: 0 p2m(20) 0 0;
            }
        }
        .time-favor-comment{
            overflow: hidden;
            .buy-time{
                float: left;
                span{
                    margin: 0 p2m(20) 0 0;
                }
            }
            .favor-comment{
                float: right;
                .favor{
                    margin: 0 p2m(24) 0 0;
                    i{
                        &.has-favor{
                            color: #fc152e;
                        }
                    }
                }
                span{
                    i{
                        margin: 0 p2m(4) 0 0;
                    }
                }
            }
        }
      .reply{
        display: -webkit-box;
        -webkit-box-align: start;
        span{
          margin: 0 p2m(20) 0 0;
        }
        i{
          display: block;
          width: 84%;
        }
      }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
