//秒杀聚合页
@import "../tools/mix";
html,body{
    background: #efeff4;
    padding: 0;
}
.page-seckill-create-result {
    div{

        position: relative;
        img{
            width: 100%;
        }
        h4{
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: px2rem(73);
            left: 0;
            a{
                background:#e75445;
                border-radius:100px;
                width:px2rem(280);
                height:px2rem(50);
                line-height:px2rem(50);
                color: #fff;
                font-size: px2rem(20);
            }
        }
        &.late{
            a{
                background: #fc9a07;
            }
        }
    }
    
}